@mixin _mobile {
    @media (max-width: 769px){
        @content;
    }
}

.header-container {
    width: 100%;
    padding: 0 20px;
    background-color: #0f54b9;
    color: #fff;

    @include _mobile {
        padding: 0 10px;
    }
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;

    @include _mobile{
        padding: 0;
    }
}