@mixin _mobile {
    @media (max-width: 769px){
        @content;
    }
}

.video-container {
    .video-card {
        display: flex;

        @include _mobile {
            flex-direction: column;
        }

        video {
            width: 50%;
    
            @include _mobile {
                width: 100%;
            }
        }

        .video-direction {
            display: flex;
            flex-direction: column;
        }
    }
}